/*  your css code here. If applicable */
.modal {
	
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  width: 90%;
  border-radius: 6px;
  padding: 10px;
}

.modal-header {
	
	background-color:green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
